/* basket inside main with sticky behavior */
#basketWrapper {
    width: 320px;
    display: flex;
    justify-content: flex-end;
}

/* Basket container (NO scrolling here!) */
#basket {
    width: 500px;
    height: 800px;
    background: rgba(54, 53, 52, 1);
    border-radius: 16px;
    padding: 24px;
    color: white;
    margin-right: -60px;

    position: sticky;
    top: 40px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    max-height: 800px; 
    overflow: hidden;  
}

/* Scrollable article area */
#basketItems {
    flex: 1;
    overflow-y: auto;
}

/* Scrollbar styling */
#basketItems::-webkit-scrollbar {
    width: 8px;
}

#basketItems::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#basketItems::-webkit-scrollbar-thumb {
    background: rgba(231, 195, 173, 1); 
    border-radius: 10px;
}

#basketItems::-webkit-scrollbar-thumb:hover {
    background: rgba(231, 195, 173, 0.8); 
}


/* Basket title */
#basket h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Single basket item */
.basketItem {
    background: rgba(253, 234, 220, 1);
    padding: 16px;
    border-radius: 12px;
    color: black;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 12px;
    margin-bottom: 5px;
    font-size: 15px;
}

/* Quantity controls */
.basketControls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.basketControls button {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.15);
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.basketControls button:hover {
    background: rgba(255, 255, 255, 0.25);
}

/* Summary area  */
#basketSummary {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
}

/* Total line */
#basketTotal h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

/* Buy button */
#buyNowBtn {
    background: #e76c1f;
    color: white;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 12px;
}

#buyNowBtn:hover {
    background: #cf5f1b;
}
