/* layout: menu left, basket right */

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#layout {
    width: 100%;
    max-width: 1400px;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 0;
}


#sectionMenu {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#basketWrapper {
    width: 320px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 999;
}
.categoryHeader {
    padding-right: 0;
}
