/* Global reset */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


/* Base styles */
html, body {
    font-family: Arial, sans-serif;
    color: #222;
    background: #fff;
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Images  */
img {
    max-width: 100%;
    display: block;
}
